@import '__'

.h1
	_typography__style($_t__style-h1)

.h2
	_typography__style($_t__style-h2)

.h3
	_typography__style($_t__style-h3)

.h4
	_typography__style($_t__style-h4)

.p
	_typography__style($_t__style-text)

	& + &
		margin-top: $_t__style-text.line-height
