include _mockups

- var pageTitle = 'Титр'
- var pageTitleMeta = undefined

- var scripts = []
- function requireScript(filename) { if (!~scripts.indexOf(filename)) { scripts.push(filename); } }

- var bodyClasses = []
