-
  var test = {
  isFull: true,
  clickUrl: 'http://github.com/',
  spaceTop: 225,
  bgImage: 'http://www.ivi.ru/branding/titr_test/full.jpg',
  bgColor: '#00c1a8',
  breadcrumbsColor: '#fff',
  breadcrumbsColorActive: '#ffd9e2'
  }

