/** @color Чёрный */
$_c__black = #000
/** @color Белый */
$_c__white = #fff
/** @color Белый активный/наведённый */
$_c__white_active = #fff2f5
/** @color Красный активный/наведённый */
$_c__red = #ff3c00

/* Others */
$_c__orange = #ff3c00
$_c__gray = #41434a